@import "./src/Styles/variables";

.contacts {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 100%;
  color: white;
  font-size: 14px;

  .contacts-container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 80%;
    max-width: 960px;
    margin-top: 25px;
    margin-bottom: 25px;
    color: black;

    .title {
      font-weight: bold;
      font-size: 18px;
    }

    .contacts-about {
      max-width: 320px;
      margin-top: 25px;
      width: 70%;

      @media screen and (max-width: $mobile) {
        width: 80%;
      }
    }

    .contacts-form-container {
      display: flex;
      flex-direction: column;
      margin-top: 20px;

      .contact-form {
        display: flex;
        width: 60%;
        flex-direction: column;

        @media screen and (max-width: $mobile) {
          width: 80%;
        }

        .user-name, .user-email {
          width: 100%;
          height: 35px;
          left: 464px;
          top: 302px;
          padding-left: 10px;
          background: #FFFFFF;
          border: 1px solid #B3B3B3;
          box-sizing: border-box;
          border-radius: 5px;
          color: #3d3d3d;

          &.not-valid {
            border: 1px solid rgba(255, 89, 89, 0.82);
          }
        }

        label {
          margin-top: 25px;
          margin-bottom: 10px;
        }

        .textarea {
          width: 100%;
          height: 130px;
          padding-top: 10px;
          border-radius: 5px;
          box-sizing: border-box;
          padding-left: 10px;
          background: #FFFFFF;
          border: 1px solid #B3B3B3;
        }

        .submit {
          width: 120px;
          height: 40px;
          border-radius: 50px;
          background-color: black;
          color: white;
          border: none;
          cursor: pointer;
          margin-top: 25px;

          &:hover {
            background-color: #1c1c1c;
          }
        }
      }

      .response-text {
        font-size: 13px;
        margin-top: 5px;
        font-weight: bold;
        color: green;
        animation: fadeIn 0.4s linear;

        &.error {
          color: #ff2323;
        }
      }
    }

    @keyframes fadeIn {
      0% {
        opacity:0
      }
      100% {
        opacity:1;
      }
    }
  }
}