@import "./src/Styles/variables";

.gallery {
  margin-top: 15px;
  position: relative;

  video {
    position: relative;
    z-index: 0;
  }

  .result-pop-up {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    position: fixed;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    z-index: 3;
    animation: fadeIn 0.3s linear;

    @media screen and (max-width: $mobile) {
      display: none;
    }

    .result-container {
      display: flex;
      justify-content: center;
      min-width: 45%;
      max-height: 90%;
      background-color: white;
      position: relative;
      box-shadow: 0 0 6px 2px rgba(0, 0, 0, 0.15);

      .close {
        width: 20px;
        height: 20px;
        color: #424242;
        font-size: 30px;
        top: 5px;
        right: 15px;
        position: absolute;
        cursor: pointer;

        &:hover {
          opacity: 0.8;
        }
      }

      .result {
        display: flex;
        justify-content: center;
        margin: 55px 30px;
        position: relative;

        img {
          height: fit-content;
          max-height: 99%;
        }
      }

      .user-info {
        display: flex;
        justify-content: space-between;
        width: 100%;
        position: absolute;
        color: black;
        bottom: -30px;
        -webkit-user-select: none;
        user-select: none;
        margin-top: 2px;
        font-weight: 600;
      }
    }
  }

  img {
    cursor: pointer;
  }

  @keyframes fadeIn {
    0% {
      opacity:0
    }
    100% {
      opacity:1;
    }
  }
}