.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 100%;
  color: white;
  font-size: 14px;

  figure {
    display: flex;
    width: 100%;
    justify-content: center;
  }

  .about-container {
    display: flex;
    flex-direction: column;
    width: 80%;
    max-width: 960px;
    color: black;
    margin-top: 15px;
    margin-bottom: 35px;
    cursor: default;
    min-height: 60vh;

    .title {
      font-weight: bold;
      font-size: 18px;
    }

    .team-image-container {
      width: 100%;
      display: flex;
      justify-content: center;
      margin-top: 40px;
      margin-bottom: 40px;

      img {
        width: 55%;
        max-width: max-content;
      }
    }
  }
}