@import "./src/Styles/variables";

.media {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 100%;
  color: white;
  font-size: 14px;

  .media-container {
    display: flex;
    flex-direction: column;
    width: 80%;
    color: black;
    margin-top: 15px;
    cursor: default;

    .title {
      font-weight: bold;
      font-size: 18px;
    }

    .media-items-container {
      display: flex;
      width: 95%;
      margin: auto;
      flex-wrap: wrap;

      .media-item {
        width: 45%;
        margin: 1.5%;
        display: flex;
        flex-direction: column;
        height: 140px;
        background: #FFFFFF;
        box-shadow: 0 0 6px 2px rgba(0, 0, 0, 0.15);
        border-radius: 10px;

        @media screen and (max-width: $tablet) {
          width: 90%;
        }

        .media-item-content-container {
          display: flex;
          width: 100%;
          padding: 15px;
          flex-direction: column;

          .media-item-header {
            width: 90%;
            height: 30px;
            display: flex;
            justify-content: space-between;

            .day {
              float: right;
              color: #616161;
              font-size: 12px;
            }

            img {
             height: 18px;
              float: left;
            }
          }

          .media-item-content {

            p {
              width: 85%;
            }
          }
        }
      }
    }

    .partners {
      width: 98%;
      display: flex;
      flex-direction: column;
      margin-left: 4%;

      img {
        width: 30%;
        margin-top: 15px;
        margin-bottom: 15px;
      }
    }
  }
}