.media {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 100%;
  color: white;
  font-size: 14px;

  .media-container {
    display: flex;
    flex-direction: column;
    width: 80%;
    color: black;
    margin-top: 15px;
    margin-bottom: 25vh;
    cursor: default;

    .title {
      font-weight: bold;
      font-size: 18px;
    }

    .media-items-container {
      display: flex;
      width: 95%;
      margin: auto;
      flex-wrap: wrap;

      .media-item {
        flex: 0 1 46%;
        margin-bottom: 2%;
        margin-right: 2%;
        height: 150px;
        background: #FFFFFF;
        box-shadow: 0 0 6px 2px rgba(0, 0, 0, 0.15);
        border-radius: 10px;
      }
    }
  }
}