.media {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 100%;
  color: white;
  font-size: 14px;

  .media-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    color: black;

  }
}